<h1 mat-dialog-title>Novo Projeto</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="projetoForm">
    <mat-form-field class="example-full-width"  color="primary">
      <mat-label>Nome do projeto</mat-label>
      <input matInput placeholder="" formControlName="noProjeto" name="noProjeto" >

    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descrićão do projeto</mat-label>
      <textarea matInput  placeholder="" formControlName="dsProjeto" name="dsProjeto" style="height: 10em; padding-top:0px !important"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>URL externa</mat-label>
      <input matInput  placeholder="" formControlName="txtURL" name="txtURL">
    </mat-form-field>


  </form>
</div>
<div mat-dialog-actions>
  <ng-container *ngIf="data.tipo === 'update'">
    <div ><button mat-raised-button color="primary"  (click)="mantemProjeto()">Atualizar projeto</button> </div>
    <button mat-button (click)="cancelar()">Cancelar</button>
  </ng-container>
  <ng-container *ngIf="data.tipo === 'new'">
    <div ><button mat-raised-button color="primary"  (click)="mantemProjeto()">Cadastra projeto</button> </div>
    <button mat-button (click)="cancelar()">Cancelar</button>
  </ng-container>

  <ng-container *ngIf="data.tipo === 'view'">
    <div ><button mat-raised-button color="primary"  (click)="cancelar()">Fechar</button> </div>
  </ng-container>



</div>
