data/
db-data/
.gitignore
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project
/.project
/rebeca_server/.classpath
/rebeca_server/.project
/rebeca_server/target/classes/META-INF/MANIFEST.MF
/rebeca_server/target/classes/META-INF/maven/com.programmer.gate/SpringBootHibernate/pom.properties
/rebeca_server/target/classes/META-INF/maven/com.programmer.gate/SpringBootHibernate/pom.xml
/rebeca_server/target/classes/application.properties
/rebeca_server/target/classes/br/rebeca/RebecaApplication.class
/rebeca_server/target/classes/br/rebeca/config/SwaggerConfig$1.class
/rebeca_server/target/classes/br/rebeca/config/SwaggerConfig.class
/rebeca_server/target/classes/br/rebeca/model/Configuracao.class
/rebeca_server/target/classes/br/rebeca/model/Filtro.class
/rebeca_server/target/classes/br/rebeca/model/Projeto.class
/rebeca_server/target/classes/br/rebeca/repository/ConfiguracaoRepository.class
/rebeca_server/target/classes/br/rebeca/repository/DataSetRepository.class
/rebeca_server/target/classes/br/rebeca/repository/FiltroRepository.class
/rebeca_server/target/classes/br/rebeca/repository/ProjetoRepository.class
/rebeca_server/target/classes/br/rebeca/resource/ConfiguracaoResource.class
/rebeca_server/target/classes/br/rebeca/resource/DataSetResource.class
/rebeca_server/target/classes/br/rebeca/resource/FiltroResource.class
/rebeca_server/target/classes/br/rebeca/resource/ProjetoResource.class
/rebeca_server/target/classes/br/rebeca/resource/execption/ResourceExceptionHandler.class
/rebeca_server/target/classes/br/rebeca/resource/execption/StandardError.class
/rebeca_server/target/classes/br/rebeca/service/ConfiguracaoService.class
/rebeca_server/target/classes/br/rebeca/service/DataSetService.class
/rebeca_server/target/classes/br/rebeca/service/FiltroService.class
/rebeca_server/target/classes/br/rebeca/service/ProjetoService.class
/rebeca_server/target/classes/br/rebeca/service/exceptions/DataIntegrityException.class
/rebeca_server/target/classes/br/rebeca/service/exceptions/ObjectNotFoundException.class
/rebeca_server/target/classes/br/rebeca/service/exceptions/ResourceNotFoundException.class
/rebeca_server/target/classes/db/migration/V1_shema.sql
/rebeca_server/target/classes/db/migration/V2_tabelas.sql
/rebeca_server/target/classes/db/migration/V3_funcoes.sql
/rebeca_server/target/classes/modelo.pdm
/rebeca_server/target/classes/modelo.svg
/rebeca_server/target/classes/scriptcursor.sql
/rebeca_server/target/classes/tabela.sql
/rebeca_server/target/classes/tabelas.sql
/rebeca_server/target/classes/testes.sql
/rebeca_server/target
