<mat-toolbar>
  <span>{{data.noProjeto}}</span>
</mat-toolbar>
<div style="padding: 20px">
  <mat-toolbar>
    <span>Dados disponíveis</span>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let item of endPointsLista">
      <mat-expansion-panel-header>
        <mat-panel-title><span class="span">{{item.noModulo}}</span><span class="span" *ngIf="item.atributoFiltro !== '_NA' ">Dataset: {{item.atributoFiltro.toString().replace("= :1", "")}}</span></mat-panel-title>
        <mat-panel-description>{{item.dsModulo}}</mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row" style="padding-top: 20px; vertical-align: middle">
        <div class="column" style="width: 100px; vertical-align: bottom"><b>Request URL: </b></div>
        <div class="column"><button mat-button mat-dialog-close (click)="openURL(this.localURL  + item.endPoint)">{{this.localURL +  item.endPoint}}</button></div>
      </div>

      <div class="row" style="padding-top: 20px; vertical-align: middle">
        <div class="column" style="width: 100px"><b>Curl: </b></div>
        <div class="column">curl -X GET "{{this.localURL +  item.endPoint}}" -H "accept: application/json"</div>
      </div>

      <div class="row" style="padding-top: 20px; vertical-align: middle" *ngIf="item.atributoFiltro !== '_NA' ">
        <div class="column" style="width: 100px"><b>Filtro: </b></div>
        <div class="column">Substituir o sinal de interrogaćão na URL por algum valor do atributo {{item.atributoFiltro.toString().replace("= :1", "")}}</div>
      </div>

      <div class="row" style="padding-top: 20px; vertical-align: middle">
        <div class="column" style="width: 100px"><b>CSV: </b></div>
        <div class="column">-</div>
      </div>

      <div class="row" style="padding-top: 20px; vertical-align: middle">
        <div class="column" style="width: 100px"><b>PDF: </b></div>
        <div class="column">-</div>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
  <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions" (page)="pageEvent=this.getData($event)" showFirstLastButtons></mat-paginator>
</div>
