<mat-toolbar>
  <span>{{data.noProjeto}}</span>
</mat-toolbar>
<div style="padding: 20px">
  <mat-toolbar>
    <span>Dados disponíveis</span>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let item of endPointsLista">
      <mat-expansion-panel-header >
        <mat-panel-title>{{item.noModulo}}</mat-panel-title>

        <mat-panel-description fxLayoutAlign="end">{{item.dsModulo}}{{ item.atributoFiltro !== '_NA' ?  " - Dataset: Com filtro no atributo " + item.atributoFiltro.toString().replace("= :1", "") : "- Dataset: Sem filtro(s)"}}</mat-panel-description>
        <!--<mat-panel-description><span class="span">{{item.dsModulo}}</span><span class="span" *ngIf="item.atributoFiltro !== '_NA' ">Dataset: {{item.atributoFiltro.toString().replace("= :1", "")}}</span></mat-panel-description>-->
      </mat-expansion-panel-header>

      <div class="row" style="padding-top: 20px; vertical-align: middle">
        <div class="column" style="width: 100px; vertical-align: bottom"><b>Request URL: </b></div>
        <div class="column"><button style="text-align:left" mat-button mat-dialog-close (click)="openURL(this.localURL  + item.endPoint)">{{this.localURL +  item.endPoint}}</button></div>
      </div>

      <div class="row" style="padding-top: 20px; vertical-align: middle">
        <div class="column" style="width: 100px"><b>Curl: </b></div>
        <div class="column">curl -X GET "{{this.localURL +  item.endPoint}}" -H "accept: application/json"</div>
      </div>

      <div class="row" style="padding-top: 20px; vertical-align: middle" *ngIf="item.atributoFiltro !== '_NA' ">
        <div class="column" style="width: 100px"><b>Filtro: </b></div>
        <div class="column">Substituir o sinal de interrogaćão na URL por algum valor do atributo {{item.atributoFiltro.toString().replace("= :1", "")}}</div>
      </div>

      <div class="row" style="padding-top: 20px; vertical-align: middle" *ngIf="item.atributoFiltro === '_NA' ">
        <div class="column" style="width: 100%; vertical-align: middle"><b>CSV: </b><button mat-button (click)="getDataset(item.noProjeto, item.noModulo)"> <mat-icon> insert_drive_file</mat-icon></button></div>
      </div>
      <div class="row" style="padding-top: 20px; vertical-align: middle">
        <div class="column" style="width: 100%; vertical-align: middle"  ><b>Referência acadêmica: </b><button  mat-button  [cdkCopyToClipboard]="refBibliografic(item.noProjeto, item.noModulo, this.localURL, item.endPoint)"><mat-icon>file_copy</mat-icon></button></div>

      </div>

    </mat-expansion-panel>

  </mat-accordion>
  <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions" (page)="pageEvent=this.getData($event)" showFirstLastButtons></mat-paginator>
</div>
