<mat-toolbar>
  <span style="width: 30px"><mat-icon style="vertical-align: center; padding-top: 10px">description</mat-icon></span><span style="vertical-align: middle">{{data.noProjeto}}</span>
</mat-toolbar>
<mat-dialog-content >
  <div style="width: 50%; height: 555px;float:left">

 <!--   <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>-->
    <mat-vertical-stepper [linear]="isLinear" #stepper >
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Dados básicos</ng-template>
          <mat-form-field class="example-full-width"  color="primary">
            <mat-label>Nome do módulo</mat-label>
            <input matInput placeholder="" formControlName="noModulo" name="noModulo"  oninput="this.value = this.value.toUpperCase()">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Descrição do módulo</mat-label>
            <textarea matInput  placeholder="" formControlName="dsModulo" name="dsModulo" style="height: 5em; padding-top:0px !important"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Objeto</mat-label>
            <mat-select formControlName="noObjetoBanco" #noObjetoBanco name="noObjetoBanco" (valueChange)="getColecaoAtributo(noObjetoBanco.value)">
              <mat-option *ngFor="let item of colecaoObjetoLista" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Filtros ou conjunto de dados</ng-template>

          <mat-form-field class="example-full-width" >
            <mat-chip-list #chipList formArrayName="Tags">
              <mat-chip *ngFor="let tag of tagsArr.controls; let i = index" [removable]="true" (removed)="onRemove(i, tag)" [formGroupName]="i">
                {{tag.get('noColuna').value}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <!-- Use below if only having single formcontrol -->
              <!-- <mat-chip *ngFor="let tag of tagsArr.controls; let i = index" [removable]="true" (removed)="onRemove(i)">
                {{tag.value}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip> -->
            </mat-chip-list>
          </mat-form-field>


          <mat-chip-list>
            <mat-chip *ngFor="let tag of atributos"  (click)="onSelect(tag)">
              {{tag.noColuna}}
            </mat-chip>
          </mat-chip-list>

          <!--<pre>{{secondFormGroup.value | json}}</pre>-->

          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Finalizar</ng-template>
        <div style="padding-top: 20px; horiz-align: right; width: 100%">

          <button mat-raised-button color="primary" (click)="mantemConfiguracao(data.idProjeto)">Criar configuração</button>
          <button mat-button matStepperPrevious>Voltar</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div style="width: 47%; float:right;">
    <mat-toolbar>
      <span style="width: 30px"><mat-icon style="padding-top: 10px">settings</mat-icon></span><span>Configurações</span>
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let item of configuracoesLista" #configuracoesLista >
        <mat-expansion-panel-header style="padding-right: 2px;">
          <button mat-button (click)="atualizar();$event.stopPropagation()"><mat-icon >edit</mat-icon></button>
          <button mat-button (click)="deletar(item.idConfiguracao, item.noModulo, 'delete_configuracao');$event.stopPropagation()" color="warn"><mat-icon >delete</mat-icon></button>

          <mat-panel-title ><i class="material-icons">{{configuracoesLista.expanded? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i><span style="padding-right:10px"></span><h3 class="mt-0 font-weight-bold">{{item.noModulo}}</h3></mat-panel-title>
          <mat-panel-description>{{item.dsModulo}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" style="padding-top: 20px; vertical-align: middle">
          <div class="column" style="width: 100px"><b>Dataset: </b></div>
          <div class="column">{{item.noObjetoBanco}}</div>
        </div>

        <div class="row" style="padding-top: 20px; padding-bottom: 10px; vertical-align: middle" *ngIf="item.filtros.length > 0">
          <div class="column" style="width: 100px; vertical-align: middle"><b>Subdataset:</b></div>
          <div class="column">
            <mat-chip-list aria-label="Filtros"  *ngIf="item.filtros.length > 0">
              <mat-chip *ngFor="let filtro of item.filtros">{{filtro.noAtributo}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions" (page)="pageEvent=this.getData($event)" showFirstLastButtons></mat-paginator>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
