<mat-toolbar>
  <span>{{data.noProjeto}}</span>
</mat-toolbar>
<mat-dialog-content >
  <div style="width: 50%; height: 555px;float:left">

 <!--   <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
      {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>-->
    <mat-vertical-stepper [linear]="isLinear" #stepper >
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Dados básicos</ng-template>
          <mat-form-field class="example-full-width"  color="primary">
            <mat-label>Nome do módulo</mat-label>
            <input matInput placeholder="" formControlName="noModulo" name="noModulo" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Descrićão do módulo</mat-label>
            <textarea matInput  placeholder="" formControlName="dsModulo" name="dsModulo" style="height: 5em; padding-top:0px !important"></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Objeto</mat-label>
            <mat-select formControlName="noObjetoBanco" name="noObjetoBanco">
              <mat-option *ngFor="let item of colecaoObjetoLista" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Filtros ou conjunto de dados</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Finalizar</ng-template>
        <div style="padding-top: 20px; horiz-align: right; width: 100%">

          <button mat-raised-button color="primary" (click)="mantemConfiguracao()">Criar configuraćão</button>
          <button mat-button matStepperPrevious>Voltar</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div style="width: 47%; float:right; padding-top: 10px">
    <mat-toolbar>
      <span>Configuraćões</span>
    </mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let item of configuracoesLista">
        <mat-expansion-panel-header style="padding-right: 2px;">
          <button mat-button><mat-icon >edit</mat-icon></button>
          <button mat-button color="warn"><mat-icon >delete</mat-icon></button>
          <mat-panel-title>{{item.noModulo}}</mat-panel-title>
          <mat-panel-description>{{item.noObjetoBanco}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{item.dsModulo}}</p>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
